<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169753240575-9fdna7udhe5d7uiko6fu9p674en1f9i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169753240575-9fdna7udhe5d7uiko6fu9p674en1f9i6</string>
	<key>API_KEY</key>
	<string>AIzaSyC2sI3T4d03Ud5iGypM27bEhTGS26WLZUE</string>
	<key>GCM_SENDER_ID</key>
	<string>169753240575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ciCd1</string>
	<key>PROJECT_ID</key>
	<string>ci-cd-35204</string>
	<key>STORAGE_BUCKET</key>
	<string>ci-cd-35204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169753240575:ios:ef2dee5687b1c50236bdca</string>
</dict>
</plist>